{% extends 'networks/GW_exercises.html' %}
{% block exercises%}
<form method="post">
        <div class="row">
        <div class="col-md-4 service-item">
            Wprowadź dane wyjściowe:
            <table class="data_table">
            <tr>
            </tr>
            <tr>
                <td>X<sub>A</sub> </td> <td> = </td> <td> {{ form2.XA}} m |</td>
                <td>Y<sub>A</sub> </td> <td> = </td> <td> {{ form2.YA}} m |</td>
                <td>Z<sub>A</sub> </td> <td> = </td> <td> {{ form2.ZA}} m </td>
            </tr>
            <tr>
                <td>s<sub>AB</sub> </td> <td> = </td> <td> {{ form2.distance}} m |</td>
                <td>z<sub>AB</sub> </td> <td> = </td> <td> {{ form2.zenith}} &deg; |</td>
                <td>Az<sub>AB</sub> </td> <td> = </td> <td> {{ form2.azimuth}} &deg; </td>
            </tr>
            </table>
        </div>
            <hr>
         <div>
             Wprowadź wyniki pośrednie: <br>
            <table class="data_table">
                <tr>
                <td>&phi;<sub>A</sub> </td> <td> = </td> <td> {{ form2.FiA_D}} &deg; {{ form2.FiA_M}}' {{ form2.FiA_S}}"</td>
                </tr>
                <tr>
                <td>&lambda;<sub>A</sub> </td> <td> = </td> <td> {{ form2.LbdA_D}} &deg; {{ form2.LbdA_M}}' {{ form2.LbdA_S}}"</td>
                </tr>
                <tr>
                <td>H<sub>A</sub> </td> <td> = </td> <td> {{ form2.HA}} m </td>
                </tr>
            </table>
            <br>
            <table class="data_table">
                <tr>
                <td>n</td> <td> = </td> <td> {{ form2.neu_n}} m</td>
                </tr>
                <tr>
                <td>e</td> <td> = </td> <td> {{ form2.neu_e}} m</td>
                </tr>
                <tr>
                <td>u </td> <td> = </td> <td> {{ form2.neu_u}} m </td>
                </tr>
            </table>
            <br>
             <table class="data_table">
                <tr>
                <td> </td> <td>  </td> <td> {{ form2.D11}} {{ form2.D12}} {{ form2.D13}} </td>
                </tr>
                <tr>
                <td>D</td> <td> = </td> <td> {{ form2.D21}} {{ form2.D22}} {{ form2.D23}} </td>
                </tr>
                <tr>
                <td> </td> <td>  </td> <td> {{ form2.D31}} {{ form2.D32}} {{ form2.D33}} </td>
                </tr>
            </table>
           <br>
            <table class="data_table">
                <tr>
                <td>dX<sub>AB</sub></td> <td> = </td> <td> {{ form2.dX_AB}} m</td>
                </tr>
                <tr>
                <td>dY<sub>AB</sub></td> <td> = </td> <td> {{ form2.dY_AB}} m</td>
                </tr>
                <tr>
                <td>dZ<sub>AB</sub></td> <td> = </td> <td> {{ form2.dZ_AB}} m </td>
                </tr>
            </table>


        </div>
        </div>
    </form>
{% endblock %}