{% extends 'networks/base.html' %}
{% block maincontent %}
    <form method="post">
        {% csrf_token %}

        <head>
            <meta charset="utf-8">
            <title>Imperial Boootstrap Template</title>
            <meta content="width=device-width, initial-scale=1.0" name="viewport">
            <meta content="" name="keywords">
            <meta content="" name="description">

            <!-- Facebook Opengraph integration: https://developers.facebook.com/docs/sharing/opengraph -->
            <meta property="og:title" content="">
            <meta property="og:image" content="">
            <meta property="og:url" content="">
            <meta property="og:site_name" content="">
            <meta property="og:description" content="">

            <!-- Twitter Cards integration: https://dev.twitter.com/cards/  -->
            <meta name="twitter:card" content="summary">
            <meta name="twitter:site" content="">
            <meta name="twitter:title" content="">
            <meta name="twitter:description" content="">
            <meta name="twitter:image" content="">

            <!-- Place your favicon.ico and apple-touch-icon.png in the template root directory -->
            <link href="favicon.ico" rel="shortcut icon">

            <!-- Google Fonts -->
            <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800"
                  rel="stylesheet">

            <!-- Bootstrap CSS File -->
            <link href="../../static/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

            <!-- Libraries CSS Files -->
            <link href="../../static/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
            <link href="../../static/lib/animate-css/animate.min.css" rel="stylesheet">

            <!-- Main Stylesheet File -->
            <link href="../../static/css/style.css" rel="stylesheet">
            <link href="../../static/css/style_editable.css" rel="stylesheet">
            <!-- =======================================================
              Theme Name: Imperial
              Theme URL: https://bootstrapmade.com/imperial-free-onepage-bootstrap-theme/
              Author: BootstrapMade.com
              Author URL: https://bootstrapmade.com
            ======================================================= -->
        </head>

        <body>
        <div id="preloader"></div>

        <!--==========================
        Hero Section
        ============================-->
        <section id="hero">
            <div class="hero-container">
                <div class="wow fadeIn">
                    <div class="hero-logo">
                        {#          <img class="" src="../../static/img/logo.png" alt="Imperial">#}
                    </div>

                    <h1>Geodezja Wyższa</h1>
                    <h2>Wybierz co chcesz zrobić</h2>
                    <div class="actions">
                        {#            <table align="center">#}
                        {#                <tr>#}
                        {#                    <td>  <input type="file" name="button"  class="custom-file-upload" id="upload" value="send_file"> <label for="upload"> Wczytać plik z zadaniem</label> </td>#}
                        {#                    <td>  <button class="btn-raw"name="button" value="get_file"> Pobrać formatkę ćwiczenia </button> </td>#}
                        {#                    <td>  <button class="btn-raw" name="button" value="get_data"> Pobrać swoje dane </button> </td>#}
                        {#                    <td>  <button class="btn-raw "name="button" value="profile"> Przejść do swojego profilu </button> </td>#}
                        {#                </tr>#}
                        {#            </table>#}

                        {#            <input type="file" class="btn-raw" value="Wczytać plik z zadaniem">#}
                        {#          <input type="file"  class="custom-file-upload">#}
                        <button class="btn-raw" name="button" value="send_results"> Przejść do sprawdzania zadań
                        </button>
                        <button class="btn-raw" name="button" value="get_data"> Sprawdzić dane wyjściowe</button>
                        {#          <button class="btn-raw" name="button" value="get_data"> Pobrać swoje dane </button>#}
                        <button class="btn-raw " name="button" value="profile"> Przejść do swojego profilu</button>
                    </div>
                    <br> <h4 align="center"><a href="{% url 'logout' %}"> Wylogować się </a> | <a
                        href="{% url 'main' %}"> Wrócić do strony głównej </a> | <a href="{% url 'RaW_main' %}"> Zająć
                    się rachunkiem wyrównawczym</a></h4>
                </div>
            </div>
        </section>

        <!--==========================
        Footer
      ============================-->
        <footer id="footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="copyright">
                            &copy; Copyright <strong>Imperial Theme</strong>. All Rights Reserved
                        </div>
                        <div class="credits">
                            <!--
                              All the links in the footer should remain intact.
                              You can delete the links only if you purchased the pro version.
                              Licensing information: https://bootstrapmade.com/license/
                              Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Imperial
                            -->
                            Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- #footer -->

        <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

        <!-- Required JavaScript Libraries -->
        <script src="../../static/lib/jquery/jquery.min.js"></script>
        <script src="../../static/lib/bootstrap/js/bootstrap.min.js"></script>
        <script src="../../static/lib/superfish/hoverIntent.js"></script>
        <script src="../../static/lib/superfish/superfish.min.js"></script>
        <script src="../../static/lib/morphext/morphext.min.js"></script>
        <script src="../../static/lib/wow/wow.min.js"></script>
        <script src="../../static/lib/stickyjs/sticky.js"></script>
        <script src="../../static/lib/easing/easing.js"></script>

        <!-- Template Specisifc Custom Javascript File -->
        <script src="/static/js/custom.js"></script>

        <script src="/static/contactform/contactform.js"></script>


        </body>

    </form>
{% endblock %}