  <section id="contact">
    <div class="container wow fadeInUp">
      <div class="row">
        <div class="col-md-12">
          <h3 class="section-title">Zarejestruj się</h3>
          <div class="section-title-divider"></div>
          <p class="section-description">Aby w pełni korzystać z możliwości serwisu zarejestruj sie używając swojego numeru indeksu </p>
        </div>
      </div>

    <div class="col-md-5 col-md-push-2">
              <div class="form">
                <form  method="post">
                    {% csrf_token %}
                    {% for item in form %}
                  <div class="form-group">
                       {{ item.label }}: {{ item }}
                  </div>
                    {% endfor %}
                  <div class="text-center"><button type="submit">Zarejestruj się</button></div>
                </form>
              </div>
    </div>
    </div>
  </section>
