{% extends 'networks/base.html' %}
{% block maincontent %}
    <div class="container wow fadeInUp">
      <div class="row">
        <div class="col-md-12">
          <h3 class="section-title">Profil</h3>
          <div class="section-title-divider_student"></div>
          <p class="section-description"></p>
        </div>
      </div>
    </div>
    <div class="row">
        <div class="col-md-4 service-item">
            <hr>
          <h3 class="service-title"> <strong> Imię: </strong> {{ student.name }}</h3>
          <h3 class="service-title"><strong> Nazwisko: </strong> {{ student.last_name }}</h3>
          <h3 class="service-title"><strong> Numer indeksu: </strong> {{ student.index_number }}</h3>
          <h3 class="service-title"><strong> Numer zestawu RaW: </strong> {{ student.set_number }}</h3>
            <hr>
        </div>
    </div>
        <div class="row">
        <div class="col-md-4 service-item">
{#            <hr>#}
            <form method="post">
            {% csrf_token %}
                <h3 class="service-title"><strong> Rachunek Wyrównawczy </strong>  </h3>
                <table class="raw_table">
                <tr>
                    <th> Data dodania ćwiczenia</th>
                    <th> Raport </th>

                </tr>
                {% for result in raw_results %}
                 <tr>
                     <td>{{ result.date }}</td>
                     <td> <button class="report_btn" name="report_button" value="{{ result.pk }}"> Pobierz raport </button> </td>

                 </tr>
                {% endfor %}
                </table>
            </form>
        </div>
    </div>
{%  endblock %}