{% extends 'networks/GW_exercises.html' %}
{% block exercises %}
    <form method="post">
        <div class="row">
            <div class="col-md-4 service-item">
                <br>
                <b>Wprowadź dane wyjściowe:</b>

                <table class="data_table">
                    <tr>
                        <td>X<sub>A</sub><sup>GK</sup></td>
                        <td> =</td>
                        <td> {{ form.XGK }} m</td>
                    </tr>
                    <tr>
                        <td>Y<sub>A</sub><sup>GK</sup></td>
                        <td> =</td>
                        <td> {{ form.YGK }} m</td>
                    </tr>
                    <tr>
                        <td>Układ: </td>
                        <td></td>
                        <td> {{ form.datum }} </td>
                    </tr>

                </table>
            </div>
            <br>

            <div>
                <b>Wprowadź wyniki końcowe:</b> <br>
                <table class="data_table">
                    <tr>
                        <td>X<sub>A</sub><sup>układ</sup></td>
                        <td> =</td>
                        <td> {{ form.X_datum }} m</td>
                    </tr>
                    <tr>
                        <td>Y<sub>A</sub><sup>układ</sup></td>
                        <td> =</td>
                        <td> {{ form.Y_datum }} m</td>
                    </tr>
                </table>
                <br>
                <input type="submit" value="Sprawdź!">

            </div>
            <hr>
            <div>
                {% for line in message %}
                    <p>  {{ line }} </p>
                {% endfor %}
            </div>
        </div>
        {% csrf_token %}
    </form>
{% endblock %}